<%= form_with(model: horse, local: true) do |f| %>
  <div class="formDetails">
    <%= f.label :make %>
    <%= f.collection_select :make, Manufacturer.order(:make), :id, :make %>

    <%= f.label :mold %>
    <%= f.collection_select :mold, Mold.order(:mold), :id, :mold %>
    
    <%= f.label :released_as %>
    <%= f.text_field :released_as %>

    <%= f.label :breed %>
    <%= f.collection_select :breed, Breed.order(:breed), :id, :breed %>

    <%= f.label :color %>
    <%= f.select :color, Horse::COLOR, prompt: "Pick One" %>

    <%= f.label :pattern %>
    <%= f.select :pattern, Horse::PATTERN, prompt: "Pick One" %>

    <%= f.label :gender %>
    <%= f.select :gender, Horse::GENDER, prompt: "Pick One" %>
    
    <%= f.label :finish %>
    <%= f.select :finish, Horse::FINISH, prompt: "Pick One" %>

    <%= f.label :size %>
    <%= f.select :size, Horse::SIZE, prompt: "Pick One" %>

    <%= f.label :location %>
    <%= f.text_field :location %>

    <%= f.label :verified %>
    <%= f.check_box :verified %>

    <%= f.label :office_pony %>
    <%= f.text_field :office_pony %>

    <%= f.label :purchase_price %>
    <%= f.number_field :purchase_price %>

    <%= f.label :condition %>
    <%= f.text_field :condition %>

    <%= f.submit %>
  </div>
<% end %>